div.container {
  width: 100%;
  height: 100%;
  background-color: #6d8f97;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
div.box {
  width: 1280px;
  height: 820px;
  background-color: white;
  margin: auto;
  padding-top: 10px;
  border-radius: 20px;
}
div.imagebox {
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin: 10px 20px 20px 20px;
  border-radius: 20px;
  height: 550px;
}

.nav1,
.nav2,
.nav3 {
  display: inline-block;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.nav2 li {
  display: inline-block;
  margin-right: 15px;
}
.logo-img {
  height: 55px;
  width: 80px;
  vertical-align: middle;
}
.sound {
  font-size: medium;
  display: inline-block;
  margin-left: -25px;
  color: #305f63;
}
.nav2 > ul > li > a {
  text-decoration: none;
  color: #305f63;
}
.nav2 > ul > li {
  display: inline-block;
  margin-right: 30px;
}
.nav2 > ul > li {
  text-decoration: none;
  display: inline-block;
}
.logo {
  display: inline;
  float: left;
}
.nav2 {
  margin-left: 20rem;
}
.nav3 {
  margin-left: 20rem;
}
.nav3 button {
  float: right;
  background-color: white;
  color: #305f63;
  border: none;
  border-radius: 30px;
  height: 25px;
  width: 80px;
}
div.text {
  width: calc(70%);
  color: #305f63;
}
.content {
  width: calc(50%);
  margin-left: 100px;
}
.text > h1 {
  font-size: 60px;
}
.text > p {
  font-size: 14px;
  margin-top: -30px;
}
.started {
  background-color: white;
  border-radius: 42px;
  height: 70px;
  padding-top: 15px;
  margin-top: 40px;
}
.started input {
  border: none;
  font-size: 24px;
  margin-left: 35px;
}
.started input:focus{
  outline-width: 0px;
}
.started button {
  float: right;
  margin-right: 10px;
  background-color: #305f63;
  color: white;
  height: 55px;
  width: 190px;
  border-radius: 30px;
  margin-top: -20px;
}
.started ::placeholder{
    color: black;
    opacity: 1;
}
.started span {
  margin-left: 35px;
  font-size: 15px;
  color: #305f63;
}
.rest {
  margin-left: 60px;
  color: #305f63;
}
.featured img {
  height: 130px;
  width: 200px;
  border-radius: 15px;
  margin-right: 15px;
}
.melody h2 {
  margin-left: 40px;
}
.featured h5 {
  font-size: 18px;
  margin-top: 0px;
}
.featured p {
  font-size: 13px;
  margin-top: -25px;
}
.rest {
  position: relative;
}
.weekly {
  float: right;
  margin-top: -265px;
  margin-right: 260px;
}
.featured li {
  display: inline-block;
  margin-right: 10px;
}
.weekly p {
  font-size: 12px;
  margin-top: 6px;
}
.weekly h5 {
  margin: 0;
  font-size: 15px;
}
.weekly li {
  margin-bottom: 20px;
  counter-increment: my-counter;
}
.weekly li::before {
  position: absolute;
  content: "" counter(my-counter);
  border: 1px solid rgba(31, 61, 116);
  border-radius: 50%;
  padding: 8px 10px 8px 10px;
  margin-left: -40px;
  color:#6d8f97;
}
